<div class="wrapper form">
	
	<form class="general" method="post" action="/users/login">
		<h2 >Account Login</h2>
		<div>
	    	<label>Username</label>
	    	<input type="text" name="username" placeholder="Username">
	 	</div>
	  	<div>
	    	<label>Password</label>
	    	<input type="password"  name="password" placeholder="Password">
	  	</div>
	  	<button type="submit">Submit</button>
	</form>
</div> 
